<!DOCTYPE html>
<html lang="en" ng-app="TweetGlobe">
  <head>
    <meta charset="utf-8">
    <title>The Pulse of the Planet</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/Twitter_logo_blue_small.png' />

  </head>
  <body>

    <div id="upgrade">
      <h1>This browser is not supported.</h1>
      <p>For more information go to: <a href="http://get.webgl.org">get.webgl.org</a></p>
    </div>

  </body>
</html>
